
<mat-card layout="row">
  <mat-card-title>Om mig<hr></mat-card-title>
  <mat-card-content>
    <div class="container">
      <img src="./../assets/presentation-pics/michaela olausson.jpg" alt="bild på Michaela Olausson">

      <p class="presentation-text">
        Hej, låt mig få berätta lite om mig själv.<br>
        Mitt namn är Michaela och jag är 30 år gammal. 
        <br><br>
        Jag har en kandidatexamen i ämnet medieteknik med inriktning webbteknologier. Innan jag halkade in på den webbtekniska banan, så jobbade jag på ett plåtslageri i Järnforsen, Hultsfred. Järnforsen är även det lilla samhälle jag är uppvuxen i.
        <br><br>
        En dag kände jag att jag behövde testa något nytt. Det blev programmet Interaktiva Medier och Webbteknologier på Linnéuniversitetet i Växjö.
        Min sambo var en starkt bidragande faktor till att valet föll på Växjö och här trivs jag bra!
        <br><br>
        När jag började programmet var jag starkt inställd på att välja det interaktiva spåret och fokusera mer på det grafiska inom webbutveckling, men jag fastnade för programmeringen och valde därför det webbtekniska spåret. Det gav större möjligheter för utveckling inom det området och det är ingenting jag ångrar!
        <br><br>
        Redan i början av andra året på utbildningen anställdes jag på deltid som amanuens, vilket betyder framstående student.
        Denna tjänst har bidragit till att jag aktivt varit med och hjälpt till inom institutionen datavetenskap och medieteknik.
        Där har jag hjälpt till med uppgifter som exempelvis examinator av uppgifter, handledare under laboratoner, ansvarig för workshops samt extralärare i grundkurserna i webbteknik (HTML, CSS och JavaScript).
        Nu är utbildningen avslutad vilket innebär att jag har en fil. kand. i medieteknik med inriktning webbteknologier! 
        <br><br>
        Jag är nybliven husägare och flyttar strax från lägenheten i Växjö till huset i Vislanda med husdjur och sambo. Tillsammans har vi två dvärgschnauzrar vid namn Tarja och Jinx, samt en katt som heter Halo. 
        På fritiden kopplar jag helst av genom att virka, rita eller att spela datorspel. Favoritspelet just nu är Overwatch.
        <br><br>
        Har du några frågor så får du gärna höra av dig.
        <br><br>
        Med vänlig hälsning, Michaela
      </p>
    </div>
    <hr>
  </mat-card-content>
</mat-card>