h2
{
    margin: 20px;
}
.container 
{
    position: relative;
    width: 50%;
    margin: 0 auto;
}
p
{
    max-width: 100%;
    font-size: 1.2em;
} 

img
{
    float: right;
    display: block;
    margin: 0 auto;
    box-shadow: 2px 2px 4px #06060a;
    border-radius: 2px;
    width: 200px;
    max-width: 100%;
    margin-left: 20px;
    margin-bottom: 10px;

}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}