<mat-card>
  <mat-card-title>Utbildning<hr></mat-card-title>

  <mat-card-content>
    <p> 
      Här nedanför är en lista över de kurser som ingått i programmet Interaktiva Medier och Webbteknologier. Länkarna leder vidare till mer ingående information om vad jag gjort i de kurserna.
    </p>
    <mat-list>
      <ng-container *ngFor="let course of courses">
      <mat-list-item *ngIf="course.info">
          <mat-icon mat-list-icon class="clickable" (click)="activate(course)" mat-list-icon >
            <i class="material-icons">add_circle</i>
          </mat-icon>
          <p matLine class="clickable" (click)="activate(course)">{{ course.name }}</p>
          <p matLine class="clickable" (click)="activate(course)"><b>{{ course.code  }}</b></p>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item *ngIf="!course.info" class="nonclickable">
          <mat-icon mat-list-icon *ngIf="!course.info">
            <i class="material-icons">add_circle_outline</i>
          </mat-icon>
          <p matLine>{{ course.name }}</p>
          <p matLine><b>{{ course.code  }}</b></p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </ng-container>
    </mat-list>
    <hr>
  </mat-card-content>
</mat-card>
