ul 
{
 list-style: none;
}


ul li .listItemPrimary
{
    font-size:  1.2em;    
}

ul li .listItemSecondary
{
    font-size:  1em;
    color: #F1A034;
}
span
{
    position: relative;
    max-width: 300px;
}
.moreLinkImg
{
    float: left;
    width: 25px;
    margin-right: 20px;
}

.moreLinkImgActive
{
    cursor: pointer;
}

.card .closeBtn
{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    cursor: pointer; /* Add a pointer on hover */
}

.overlay 
{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    padding-top: 50px;
}

.overlay .card
{
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 4px 4px 8px #000000;
}
/*
[scroll="true"] 
{
    overflow: hidden;
}
[scroll="false"] 
{
    overflow: scroll;
} */

body .scrolltrue
{
    overflow: scroll;
}
body .scrollfalse
{
    overflow: hidden;
}

.infoPic
{
    margin-left: auto;
	margin-right: auto;
	display: block;
    max-width: 100%;
    max-height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.openPDFLink
{
    font-size: 1.2em;
    margin-bottom: 20px;
}
.openPDFImg
{
    width: 30px;
    margin-right: 20px;
}

.infoText
{
    padding: 20px;
}

.scroll
{
    overflow: auto;
}

mat-list-item:hover
{
    background-color: #F2709C;
   /* background-color: #F1A034; */
}

.nonclickable:hover {
    background-color: #FFFFFF;
}