<h2 mat-dialog-title>{{ data.name }} {{ data.code }}</h2>
<mat-dialog-content>
  <p>{{ data.description }}</p>
 
  <img class="infopic" *ngFor="let image of data.images" src="./../assets/info-pics/{{image.src}}" alt="kursbild">

  <div class="linkbox">
    <a target="_blank" href="./assets/pdf/{{data.pdf}}">      
      <mat-icon mat-list-icon>
          <i class="material-icons">add_circle</i>
      </mat-icon>Läs tillhörande rapport
    </a>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="primary" [mat-dialog-close]="true">TILLBAKA</button>
</mat-dialog-actions>
