 .infopic
{
    display: block;
    max-width: 48%;
    float: left;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 2%;
    box-shadow: 2px 2px 4px #06060a;
    border-radius: 2px;
}

p 
{
    float: left;
    white-space: pre-wrap;
    text-align: justify;
    max-width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

a 
{
    text-decoration: none;
    color: #06060a;
    font-weight: bold;
}

mat-icon {
    margin-right: 20px;
}

.linkbox {
    margin: 0 auto;
    margin-left: 2%;
    width: 50%;
}

img 
{
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

mat-icon img
{
    display: block;
    width: 30px;
    padding: 0;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    p {
        width: 100%;
        max-width: 100%;
    }
    .infopic {
        width: 100%;
        max-width: 100%;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
  }