<mat-card>
  <mat-card-title>Kunskaper<hr></mat-card-title>
  <mat-card-content>
    <p>
      Under min studietid har jag utvecklat flera webbaserade produkter.<br>
      Några har jag gjort inom ramarna i de olika kurserna jag läst, och några har skapats i kontexten av forskningsprojekt på LNU.
    </p>
    <p>
      Kortfattat är några av mina kunsapsområden:
    </p>
      <ul>
        <li>- Frontendutveckling</li>
        <li>- UI-design</li>
        <li>- Grafisk design</li>
        <li>- UX-design</li>
        <li>- Interaktionsdesign</li>
      </ul>

    <p>
      Jag kan grunderna i ett flertal program i Adobe's arsenal och kan därmed både producera grafik och enklare animationer.
    </p>
    <p>
      Utöver webbutveckling har jag även haft en aktiv roll inom utbildningen på programmet jag går. 
      Som amanuens har jag hjälpt till med att både undervisa och att handleda laborationer i programmets grundkurser i HTML, CSS och JavaScript.
    </p>
    <p>Vill du veta mer om mina kunskaper? Klicka på någon av länkarna ovanför för att utforska mitt CV.</p>
  
    <hr>
  </mat-card-content>
</mat-card>
    