<mat-card>
    <mat-card-title>Arbetslivserfarenhet<hr></mat-card-title>
    <mat-card-content *ngIf="employments">
      <p> 
        Här nedan listas tidigare arbeten samt mitt nuvarande arbete i kronologisk ordning. Kontakta mig för referenser.
      </p>
      <mat-list>
        <mat-list-item *ngFor="let employment of employments">
            <mat-icon mat-list-icon><i class="material-icons">work</i></mat-icon>
            <h3 matLine><b>{{ employment.employer }}</b></h3>
            <h4 matLine><i>{{ employment.position }}</i></h4>
            <p matLine>
              {{ employment.start_string }} - <ng-container *ngIf="!employment.end">Nuvarande anställning</ng-container><ng-container *ngIf="employment.end">{{ employment.end_string }}</ng-container>
            </p>
            <p mat-line class="description">{{ employment.description}}</p>
            <p mat-line class="description">{{ employment.type}}</p>
        <mat-divider></mat-divider>
        </mat-list-item>

      </mat-list>
      <hr>
    </mat-card-content>
  </mat-card>
