.infopic
{
    display: block;
    max-width: 50%;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px #06060a;
    border-radius: 2px;
    clear:both;
}

p 
{
    white-space: pre-wrap;
    text-align: justify;
    max-width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

a 
{
    text-decoration: none;
    color: #06060a;
    font-weight: bold;
}
.linkbox
{
    margin-bottom: 20px;
    max-width: 50%;
    margin: auto;
}

mat-icon {
    margin-right: 20px;
}

  @media screen and (max-width: 600px) {
    p {
        width: 100%;
        max-width: 100%;
    }
    .infopic {
        width: 100%;
        max-width: 100%;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
  }