<h2 mat-dialog-title>{{ data.name }} {{ data.code }}</h2>
<mat-dialog-content>
  <p>{{ data.description }}</p>
  <div class="linkbox">
    Länk till projektet <a target="_blank" href="{{data.url}}">{{data.name}}</a>
  </div><br>
  <img *ngFor="let image of data.images" class="infopic" src="./../assets/info-pics/{{image.src}}" alt="kursbild">

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="primary" [mat-dialog-close]="true">TILLBAKA</button>
</mat-dialog-actions>
