/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html 
{
   background-image: url("./assets/background/bg.svg");
   background-size: 500px 500px;
   font-family: 'Roboto', sans-serif;
}

.clickable
{
    cursor: pointer;
}

hr 
{
    border: 1px solid #E91E63;
    clear: both;
}

body
{
    position: relative;
    max-width: 70%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}



.topCard
{
    margin-top: 200px;
}

.card 
{
    position: relative;
    border-radius: 2px;
    background-color: white;
    padding: 10px;
    width: 100%;
    box-shadow: 2px 2px 4px #06060a;
    margin: 10px; 
    margin-bottom: 30px;
}

.card h1
{
    color: #06060a;
    text-align: center;
    font-size: 3em;
}

.button
{
    box-shadow: 2px 2px 4px #06060a;
    padding: 10px;
}

nav
{
    text-align: center;
}

nav ul 
{
    list-style-type: none;
}

nav ul li 
{
    display: inline;
}

.link
{
    font-size: 2em;
    margin-right: 20px;
    text-decoration: none;
    color: #06060a;
}

.link:hover 
{
    color: #E91E63;
    font-weight: bold;
}

.localNav ul li .link
{
    font-size: 1.5em;
}

.listLink
{
    font-size: 1em;
    margin: none;
}

ul 
{
 list-style: none;
}

ul li
{
    margin-bottom: 20px;
}


ul li .listItemPrimary
{
    font-size:  1.2em;    
}

.listItemPrimary:hover
{
    font-weight: bold;
    font-size:  1.2em;    
    color: #F1A034;
}

ul li .listItemSecondary
{
    font-size:  1em;
    color: #F1A034;
    margin-left: 10px;
}

.scrolltrue
{
    overflow: scroll;
}
.scrollfalse
{
    overflow: hidden;
}

mat-card {
    margin-bottom: 20px;
}

p {
    max-width: 800px;
    text-align: justify;
}


@media screen and (max-width: 600px) {
    body {
      margin: 0; 
      max-width: 100%;
    }
    li {
        display: block;
        margin: 0;
    }
    li a{
        display: block;
        margin: 0;
    }
    p {
        max-width: 100%;

    }
    .linkbox
    {
        width: 100%;
        max-width: 100%;
    }
  }