.contactIcon
{
    width: 40px;
    margin-top: 10px;
    margin-right: 20px;
}

.contactInfo
{
    position: absolute;
    font-size: 1em;
    letter-spacing: 3px;
    top: 30px;
    float: left;
    height: auto;
}

.contactList 
{
    list-style-type: none;
    float: left;
    width: 40%;;
    display: block;

}
.contactList li
{
    position: relative;
}

.card 
{
    overflow: auto;
}

a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    font-weight: bolder;
    color:#E91E63;
}


