
<!--<div class="card">
    <div class="pageDescription"> -->
    <mat-card>
        <mat-card-title>Kontakt<hr></mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <mat-icon mat-list-icon><i class="material-icons">person</i></mat-icon>
                    <span mat-line>{{ civic_number }}</span>
                </mat-list-item>
        
                <mat-list-item>
                    <mat-icon mat-list-icon><i class="material-icons">my_location</i></mat-icon>
                    <span mat-line>{{ address }}</span>
                </mat-list-item>
        
                <mat-list-item>
                    <mat-icon mat-list-icon><i class="material-icons">call</i></mat-icon>
                    <span mat-line>{{ phonenumber }}</span>
                </mat-list-item>
        
                <mat-list-item>
                        <mat-icon mat-list-icon><i class="material-icons">email</i></mat-icon>
                    <span mat-line>{{ email }}</span>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon mat-list-icon><i class="material-icons">group_add</i></mat-icon>
                    <span mat-line><a href="{{linked_in}}" target="_blank">LinkedIn</a></span>
                </mat-list-item>

            </mat-list>
            <hr>
        </mat-card-content>
    </mat-card>




<!--</div>-->