<mat-card>
  <mat-card-title>Projekt<hr></mat-card-title>
  <mat-card-content *ngIf="projects">
    <p>
      Som amanuens har jag varit delaktig i ett forskningsprojekt som drivits av bland annat Janosch Zbick som är doktarand vid Linnéuniversitetet. I detta projekt har den webbaserade applikationen Hållbarhetskollen tagits fram.
      Produkten är framtagen för konsultföretaget Norconsult. Norconsult beskriver sig själva som en av Nordens största rådgivare inom samhällsplanering och projektering. 
    <p>
      Hållbarhetskollen är ett verktyg för att samla och visualisera data kring hur projekt kan förbättras. Applikationens är centrerad kring Agenda 2030, EU:s 17 mål för hållbar utveckling.
    </p>
    <p>
      Hållbarhetskollen är utvecklat med Angular 4 + Ionic 2.
    </p>
    <p>
      Min roll i projektet har varit som front-end-utvecklare där jag fått jobba aktivt med användargränssnittet och förfrågningar till systemets API (RESTful). 
    </p>
    <mat-list>
      <mat-list-item *ngFor="let project of projects">
          <mat-icon mat-list-icon class="clickable" (click)="activate(project)" mat-list-icon *ngIf="project.info">
              <i class="material-icons">add_circle</i>
            </mat-icon>
            <mat-icon mat-list-icon *ngIf="!project.info">
              <i class="material-icons">add_circle_outline</i>
            </mat-icon>
        <p mat-line class="clickable" (click)="activate(project)">{{ project.name }}</p>
        <p mat-line class="clickable" (click)="activate(project)"><b>{{ project.customer }}</b></p>
      <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <hr>
  </mat-card-content>
</mat-card>

      

  