h1 
{
    text-align:center;
    font-size: 4em;
}

mat-toolbar span
{
  text-align: center;
}

mat-toolbar:nth-child(2) {
  font-size: 1em;
}

footer {
  background-color: #E91E63;
  width: 100%;

  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 2px;
}

footer p {
  color: white;
  text-align: center;
  max-width: 100%;
}

p:nth-child(1) {
  font-size: 1em;
  font-weight: bold;
}
.white-line 
{
  border: 1px solid white;
  width: 20%;
}

.small-text {
  font-size: 0.8em;
}

@media screen and (max-width: 600px) {
    body {
      margin: 0; 
      max-width: 100% !important;
    }
  }