<div class="wrapper">
    <mat-card>
        <mat-card-content>
            <h1>{{ name }}</h1>
            <nav>
                <ul>
                    <li><a class='link' routerLink="/start" routerLinkActive="active" (click)="linkActivate('start')">OM MIG</a></li>
                    <li><a class='link' routerLink="/skills" routerLinkActive="active" (click)="linkActivate('skills')">CV</a></li>
                    <li><a class='link' routerLink="/contact" routerLinkActive="active" (click)="linkActivate('contact')">KONTAKT</a></li>  
                </ul>
            </nav> 
            <hr>
            <nav class='localNav' *ngIf='skillsActive'>
                <ul>
                    <li><a class='link' routerLink="/employments" routerLinkActive="active">ARBETSLIVSERFARENHET</a></li>
                    <li><a class='link' routerLink="/courses" routerLinkActive="active" >UTBILDNING</a></li>
                    <li><a class='link' routerLink="/projects" routerLinkActive="active">PROJEKT</a></li>
                </ul>
                <hr>
            </nav> 
        </mat-card-content>
    </mat-card>
              
    <router-outlet></router-outlet>
    <footer layout="row">
        <p>Portfolio made using Angular 5 + Angular Material</p>
        <hr class="white-line">
        <p class="small-text">&copy; Michaela Olausson 2018</p>
    </footer>
</div>
